.dash {
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    /* background-color: aliceblue; */

}
.title {
    font-size: 1.5rem;
    font-weight: 700;
}
table {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    /* border: 0.05rem solid rgb(217, 220, 225); */
    
}


td {
    /* text-align: left; */
    padding: 24px 24px;
    
    border-bottom: 0.05rem solid rgb(226, 228, 232);
}
th {
    /* background-color: #fefefe; */
    text-align: left;
    padding: 12px 24px;
   
    color: #2D83B5;
    
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.035em;
    /* border-bottom: 0.05rem solid rgb(240, 242, 245); */
    border-bottom: 0.05rem solid rgb(226, 228, 232);
   
}