.nav {
	background-color: black !important;
}


.dash {
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	/* background-color: aliceblue; */
}
.title {
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 1rem;
}
table {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	/* border: 0.05rem solid rgb(217, 220, 225); */
}

td {
	/* text-align: left; */
	padding: 15px 24px;
	border-bottom: 0.05rem solid rgb(226, 228, 232);
}

th {
	/* background-color: #fefefe; */
	text-align: left;
	padding: 12px 24px;
	color: #2d83b5;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: 0.035em;
	/* border-bottom: 0.05rem solid rgb(240, 242, 245); */
	border-bottom: 0.05rem solid rgb(226, 228, 232);
}

/* floating button */
.floatingButton {
	position: fixed;
	display: flex;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
}


.dashboard-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
	margin-top: 2rem;
}
.dashboard-content-footer .pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    background-color: #F0F2F5;
    cursor: pointer;
}
.dashboard-content-footer .active-pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #2D83B5;
    cursor: pointer;
}
.empty-table {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    color: gray;
    font-weight: 700;
    border-color: #FFFFFF;
}